[submodule "backend"]
	path = backend
	url = https://github.com/NotACat1/kupipodariday-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/NotACat1/kupipodariday-frontend.git
